agm-map {
  height: 500px;
}

.mymain {
  height: 800px;
  padding: 25px;

  background: #e0e2e4;
  /* background: #5433FF; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
