<div class="mymain">
  <ngb-tabset type="pills" [orientation]="currentOrientation">
    <ngb-tab title="World Map">
      <ng-template ngbTabContent>
        <h1>{{ title }}</h1>

        <form (ngSubmit)="showLocation()">
          <input type="text" [(ngModel)]="address" required [ngModelOptions]="{standalone: true}">
          <button type="submit">Show Location</button>
        </form>
        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->
        <agm-map [latitude]="markerlat" [longitude]="markerlng">
          <agm-marker [latitude]="markerlat" [longitude]="markerlng" [label]="myMarkerLabel" (markerClick)="onMarkerClick(infoWindow,gm)">
            <agm-info-window [disableAutoPan]="false" #infoWindow>

              <div>
                yo
              </div>
              <div>
                <!-- <a (click)="onClickInfoView({id:m.id})" class="btn btn-attention pull-right">Daje <i class="fa fa-angle-double-right"></i></a> -->
              </div>

            </agm-info-window>
          </agm-marker>
          <agm-circle *ngFor="let data of weather" [latitude]="data.latitude" [longitude]="data.longitude" [radius]="data.radius" [fillColor]="data.fillColor" [fillOpacity]="data.fillOpacity" [circleDraggable]="false" [editable]="false" (circleClick)="onWeatherClick(data)">

          </agm-circle>

          <agm-circle *ngFor="let psidata of psiList" [latitude]="psidata.latitude" [longitude]="psidata.longtitude" [radius]="psidata.radius" [fillColor]="psidata.fillColor" [circleDraggable]="false" [editable]="false" (circleClick)="onPSIClick(psidata)">
          </agm-circle>
        </agm-map>
        <!-- <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
          Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p> -->
        <div>
          Weather: {{ this.selectedCircle.Forecast }} Latitude: {{ this.selectedCircle.latitude }} Longitude: {{ this.selectedCircle.longitude }}
        </div>
        <div>
          PSI Value: {{ this.selectedPSI.value }} Latitude: {{ this.selectedPSI.latitude }} Longitude: {{ this.selectedPSI.longtitude }}
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>List Of Incidents</ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
