.form-group {
    .form-control,
    .check-label {
        margin: 10px 0;
    }
}

.form-inline {
    .control-label,
    .form-control,
    .btn {
        margin: auto 5px;
    }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

ng-template {
  background-color: yellow;
}
