<!-- <p>
  pmo works!
</p> -->
<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="./home"><img src="../../assets/img/earthquake.png"> Crisis Management System</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="./home">Home</a>
      <a class="nav-item nav-link" routerLink="./incident" href="#">Incident</a>
      <a class="nav-item nav-link" routerLink="./create" href="#">Create</a>
      <!-- <a class="nav-item nav-link" href="#">Contact</a> -->
    </div>
  </div>

  </nav>

<!-- Main -->
<main>
  <div class="container" style="height:1000px;">
    <!-- <div class="row pt-5"> -->
      <!-- <div class="col text-center"> -->
        <!-- <h2>This Navbar isn't fixed</h2>
                <h5>When you scroll down it will disappear</h5> -->
        <router-outlet></router-outlet>
      <!-- </div> -->
    <!-- </div> -->
  </div>
</main>
<!-- /.Main -->
